<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-list-items"><a routerLink="/Home">Home</a></li>
    <li class="nav-list-items"><a routerLink="/Courses">Courses</a></li>
    <li class="nav-list-items">
      <a routerLink="/Announcement">Announcement</a>
    </li>
    <li class="nav-list-items"><a routerLink="/Gallery">Gallery</a></li>
    <li class="nav-list-items">
      <a class="yt-btn" href="https://youtube.com/@pixel8cloud" target="_blank"
        >Youtube</a
      >
    </li>
  </ul>
</nav>
