@import "../../../styles.css";

.navbar {
  height: 300px;
  padding: 40px 65px;
  background: var(--secondary);
}

.nav-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.nav-list-items > a {
  color: white;
}

.yt-btn {
  border: 1px solid white;
  padding: 7px 30px;
}

.nav-list-items:hover > a.yt-btn {
  border-color: black;
  transition: 0.3s ease-in-out;
}

.nav-list-items:hover .yt-btn {
  background-color: black;
  transition: 0.3s ease-in-out;
}
