@import "../../../styles.css";

.footer {
  background: var(--footer);
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 200px;
}

.container {
  display: flex;
}

.footer-left {
  margin-right: 280px;
}

.footer-image {
  width: 600px;
  margin-bottom: 20px;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-socials ul {
  display: flex;
  align-items: center;
  justify-items: center;
}

.footer-social-icon {
  height: 55px;
}

.footer-socials ul li:not(:first-child) {
  margin-left: 15px;
}

.footer-socials ul li:not(:last-child) {
  margin-right: 15px;
}

.footer-right {
  font-size: 50px;
}

.footer-right h1 {
  font-weight: 500;
  font-size: 1em;
}

.footer-right ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
  margin-left: 5px;
}

.footer-right ul li {
  font-size: 0.7em;
  font-weight: 100;
  letter-spacing: 0.1px;
}

.footer-right ul li a {
  cursor: pointer;
  color: black;
}

.footer-right ul li:not(:first-child) {
  margin-top: 35px;
}

/* For Desktop View */
@media (max-width: 1550px) {
  .footer-image {
    width: 400px;
  }

  .footer-social-icon {
    height: 40px;
  }

  .footer-right {
    font-size: 40px;
  }

  .footer {
    padding-top: 80px;
    padding-bottom: 150px;
  }
}

/* For Tablet View */
@media (max-width: 1024px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 130px;
  }

  .footer-image {
    width: 350px;
  }

  .footer-left {
    margin-right: 140px;
  }
}

/* For Mobile View */
@media (max-width: 768px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .footer-left {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .container {
    display: block;
  }

  .footer-image {
    display: none;
  }

  .footer-social-icon {
    height: 30px;
  }

  .footer-socials ul li:not(:first-child) {
    margin-left: 12px;
  }

  .footer-socials ul li:not(:last-child) {
    margin-right: 12px;
  }

  .footer-right {
    font-size: 35px;
    text-align: center;
  }

  .footer-right ul {
    margin-left: 0px;
    margin-top: 10px;
  }

  .footer-right ul li:not(:first-child) {
    margin-top: 20px;
  }
}
