<footer class="footer">
  <div class="container">
    <div class="footer-left">
      <img
        class="footer-image"
        src="assets/footer/pixel8cloud.png"
        alt="pixeel8cloud"
      />
      <div class="footer-socials">
        <ul class="soicals-1">
          <li *ngFor="let i of socials">
            <a href="{{ i.link }}" target="_blank">
              <img
                class="footer-social-icon"
                src="assets/footer/{{ i.social }}.svg"
                alt="{{ i.id }}"
              />
            </a>
          </li>
        </ul>
        <ul class="socials-2">
          <li *ngFor="let i of contacts">
            <a href="{{ i.link }}" target="_blank">
              <img
                class="footer-social-icon"
                src="assets/footer/{{ i.social }}.svg"
                alt="{{ i.id }}"
              />
            </a>
          </li>
          <li>
            <a href="mailto:pixel8cloud@gmail.com"
              ><img
                class="footer-social-icon"
                src="assets/footer/email.svg"
                alt="pixel8cloud@gmail.com"
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-right">
      <h1>CONTENT</h1>
      <ul>
        <li><a routerLink="/Home">Home</a></li>
        <li>
          <a routerLink="/Courses">Courses</a>
        </li>
        <li>
          <a routerLink="/Announcement">Announcement</a>
        </li>
        <li>
          <a routerLink="/Gallery">Gallery</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
