<nav class="navbar">
  <img
    class="nav-image"
    src="assets/navbar/pixel8cloud.png"
    alt="pixel8cloud"
  />
  <ul class="nav-list">
    <li class="nav-list-items Home"><a routerLink="/Home">Home</a></li>
    <li class="nav-list-items Courses">
      <a routerLink="/Courses">Courses</a>
    </li>
    <li class="nav-list-items Announcement">
      <a routerLink="/Announcement">Announcement</a>
    </li>
    <li class="nav-list-items Gallery">
      <a routerLink="/Gallery">Gallery</a>
    </li>
    <li class="nav-list-items">
      <a class="yt-btn" href="https://youtube.com/@pixel8cloud" target="_blank"
        >Youtube</a
      >
    </li>
  </ul>
  <button class="nav-btn" (click)="nav_toogle()">
    <img class="nav-btn-image" src="/assets/navbar/menu.svg" alt="no_menu" />
  </button>
</nav>
