<header class="head">
  <h1><span class="tag">Learn</span> and <span class="tag">Explore</span></h1>
  <p class="tagline">
    we are providing free hands-on training in different technologies, with real
    world projects and resources fro developers and even for designers
  </p>
  <div class="buttons">
    <a routerLink="courses">
      <button class="btn" id="course">Courses</button>
    </a>
    <a routerLink="courses">
      <button class="btn" id="yt">Visit</button>
    </a>
  </div>
</header>
